<div class="addMenu">
    <h4 class="addMenu__title"># Ajouter ou modifier un menu</h4>
    <form class="addMenu__form">

        <input required type="text" name="titre" placeholder="Saisir le titre du film" >
        <input required type="text" name="réalisateur" placeholder="Saisir le réalisateur du film" pattern="[^0-9]*" title="Numbers are not allowed">
        <input required type="number" name="année de sortie" placeholder="Saisir l'année de sortie" >
        <input onclick="{{handler}}" type="button" value="Update" name="todo">

    </form>
</div>

Titre du film.
Réalisateur du film
Année de sortie
Durée en minutes
Description ou synopsis.
Catégorie (Drame, Aventure, Animation…).
nom du fichier de l'affiche ou image du film.
URL du trailer.
Restrictions d'âge.
